{{#each erros}}
    <div class="btn btn-danger" > {{texto}}</div>
{{else}}

{{/each}}

<div class="card">
    <div class="card-body">
        <h2>Cadastrar Aluno</h2>
          <div class="card">
              <div class="card-body">
            <form  >
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" />
                </div>
                <div class="form-group">
                    <label for="matricula">Matrícula:</label>
                    <input type="text" name="matricula" id="matricula"/>
                </div>
                <div class="form-group">
                    <label for="endereco">Endereço:</label>
                    <input type="text" name="endereco"/>
                </div>
                <div class="form-group">
                    <label for="curso">Curso:</label>
                    <input  type="text" name="curso"/>
                </div>
                <div class="form-group">
                    <label>Data de Entrada:</label>
                    <input type="text" name="data_Entrada"/>
                </div>
                <div class="form-group">
                    <label>Data de Saída:</label>
                    <input class="ml-3" type="text" name="data_Saida"/>
                </div> 
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </form>
            </div>
            </div>
    </div>
</div>
